/* Styling for the container */
.image-container {
  text-align: center;
  margin: 40px auto;
  max-width: 90%; /* 90% width on desktop */
  padding: 10px;
}

.image-container picture {
  display: block;
  width: 100%;
}

/* Image styling */
.image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px dashed #A9A9A9;
  padding: 10px;
  border-radius: 20px;
}

/* Responsive for different screen sizes */

/* Mobile */
@media (max-width: 767px) {
  .image-container {
    max-width: 100%; /* 100% width on mobile */
  }
  
  .image-container img {
    max-width: 95%;
    margin-top: 2em;
  }
}

/* iPad and Desktop */
@media (min-width: 768px) {
  .image-container img {
    min-width: 700px;
    max-width: 961px;
    margin-top: 2em;
  }
}
